@import "../var.scss";

.WelcomePG {
    position: relative;
    $marginToEdge: 11vw;

    .title {
        max-width: calc(100vw - $marginToEdge);
        padding-top: 10vh;

        .welcome {
            position: relative;
            h1 {
                display: inline;
            }
            h3 {
                margin-left: 1vw;
                display: inline;
                position: absolute;
                bottom: -15%;
            }
        }
        h2 {
            position: relative;
            z-index: 1;
        }

        .posHelper1 {
            position: absolute;
            left: 1100px;
            $CircleSize1: 225px;
            .TxtArchive::before {
                content: "";
                position: absolute;
                width: $CircleSize1;
                height: $CircleSize1;

                background-color: $cpSecondary;
                border-radius: 50%;
            }
            .TxtArchive {
                margin-top: -18%;
                width: $CircleSize1;
                height: $CircleSize1;
                .text {
                    font: inherit;
                    position: relative;
                    z-index: 1;
                    font-size: 85px;
                    color: $cpBackground;
                }
            }
        }
    }
    .clickToContinue1 {
        margin-top: 250px;
        background-color: transparent;
        border: none;
        position: absolute;


        left: 1190px;

        $height1: 100px;

        &::before,
        h4 {
            content: "";
            display: block;
            width: 500px;
            height: $height1;
            font-size: 25px;
            border: 0.2vw solid $cpSecondary;
        }
        h4 {
            text-align: center;
            position: relative;
            background-color: $cpBackground;
            line-height: $height1;
            font-weight: bold;
            z-index: 1;
        }
        &::before {
            position: absolute;
            top: 0.9vw;
            right: -0.9vw;
        }
    }
}
