@import "../var.scss";

.WelcomePG {
    position: relative;

    .title {
        max-width: 100%;
        width: fit-content;

        .welcome {
            position: relative;
            h1 {
                display: inline;
            }
            h3 {
                margin-left: 1vw;
                display: inline;
                position: absolute;
                bottom: -25%;
            }
        }
        h2 {
            position: relative;
            z-index: 1;
        }

        .posHelper1 {
            position: absolute;
            right: 25vw;
            $CircleSize1: 13vw;
            .TxtArchive::before {
                content: "";
                position: absolute;
                width: $CircleSize1;
                height: $CircleSize1;

                background-color: $cpSecondary;
                border-radius: 50%;
            }
            .TxtArchive {
                margin-top: -25%;
                width: $CircleSize1;
                height: $CircleSize1;
                .text {
                    font: inherit;
                    position: relative;
                    z-index: 1;
                    font-size: 5vw;
                    color: $cpBackground;
                }
            }
        }
    }
    .clickToContinue1 {
        margin-top: 12.5vw;
        background-color: transparent;
        border: none;
        position: absolute;

        right: 1vw;

        $height1: 5vw;

        &::before,
        h4 {
            content: "";
            display: block;
            width: 25vw;
            height: $height1;
            font-size: 1vw;
            border: 0.2vw solid $cpSecondary;
        }
        h4 {
            text-align: center;
            position: relative;
            background-color: $cpBackground;
            line-height: $height1;
            font-weight: bold;
            z-index: 1;
        }
        &::before {
            position: absolute;
            top: 0.9vw;
            right: -0.9vw;
        }
    }

    .model {
        width: 55vw;
        height: auto;
        margin-top: -10%;
        position: relative;
        z-index: 10;
    }
}
