@import "./var.scss";

//
@import "./pages/WelcomePG.scss";
@import "./pages/AboutPG.scss";

* {
    font-family: "Noto Sans", sans-serif;
}

body {
    margin: 0;
    background-color: $cpBackgroundAcc;
    color: $cpText;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none; //for now
}

.App {
    background-color: $cpBackground;
    overflow-y: scroll;
    overflow-x: hidden;
    width: $appWidth;
    height: $appHight;
    border-radius: 1vw;
    box-sizing: border-box;
    padding: 0 80px;

    // mask-image: url("data:image/svg+xml;utf8,    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'>      <rect x='0' y='0' width='100' height='100' fill='black'/>    </svg>");
    // mask-repeat: no-repeat;
    // mask-position: center;
    // mask-size: calc(100% - 3vw) calc(100% - 3vw);
}

.Singgle-Page {
    width: $appWidth;
    height: $appHight;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 0%;
    line-height: 70%;
    height: fit-content;
}

h1 {
    font-family: "Sagite";
    font-weight: lighter;
    font-size: 300px;
}
h2 {
    font-family: "Akira Expanded";
    -webkit-text-stroke: 0.01em $cpBackground;
    font-size: 230px;
}
h3 {
    font-family: "Beauty";
    font-weight: 100;
    font-size: 130px;
}

h4 {
    font-family: "Sagite";
    -webkit-text-stroke: 0.05em $cpSecondary;
    color: $cpSecondary;
    letter-spacing: 0.3vw;
}

#root {
    min-height: 100vh;
}

.flex-center,
#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
}
