@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    //sagite
    font-family: "Sagite";
    src: url("../media/font/Sagite.otf");
}
@font-face {
    //sagite italic
    font-family: "Sagite Italic";
    src: url("../media/font/Sagite-Italic.otf");
}
@font-face {
    //argine
    font-family: "Argine";
    src: url("../media/font/argine.otf");
}
@font-face {
    //beauty
    font-family: "Beauty";
    src: url("../media/font/Beauty.otf");
}
@font-face {
    //akira
    font-family: "Akira Expanded";
    src: url("../media/font/Akira\ Expanded.otf");
}

/*
cp = color palate

*/

$cpText: #d11802;
$cpBackground: #f9dac5;
$cpBackgroundAcc: #112126;
$cpPrimary: #f3824b;
$cpSecondary: #990d0d;
$cpAccent: #421006;

$appHight: calc(100vh - 3vw);
$appWidth: calc(100vw - 3vw);
